<div id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-5 hidden-sm">

            </div>
            <div class="col-lg-5">
                <ul class="list-inline pull-right">
                    <li><a href="#">{{ 'footer.navigation.privacy_policy'|trans }}</a></li>
                    <li><a href="#">{{ 'footer.navigation.contact'|trans }}</a></li>
                    <li>{{ 'footer.navigation.copyright'|trans }} {{ "now"|date('Y') }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>