/vendor/
/node_modules/
/build/
!/build/.gitkeep
/bin/behat
/bin/phpspec
/bin/phing
/bin/phpunit
/bin/jp.php
/bin/security-checker
behat.yml
phpunit.xml

/var/*
!var/.gitkeep

/symfony/config/parameters.yml
/symfony/bootstrap.php.cache
/public/bundles/

/public/upload/
/public/assets/css/
/public/assets/fonts/
/public/assets/compiled/
/public/assets/vendor/
